
<h1>ALL THE STATIONS</h1>
<h2>These are the closest stations within 10 miles of your selected zip</h2>

<br><br>

<div>
  <p>
    <% @stations.each do |station| %>
      <%= station. %>

      <br><br>
    <% end %>
  </p>
</div>
